@charset "utf-8";
/* CSS Document */


/* # About Section 1
---------------------------------------------------------------------------------------------------- */
.contact-section-01-wrapper {
	background-color:#fff;
	padding:80px 0;
}
.contact-section-01-wrapper h2 {
	font-size: 39px;
	margin-bottom: 30px;
}

/* # will apply this css starting 1600px and below
   # Please insert all media queries below, avoid creating new breakpoints and inserting anywhere.
---------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1440px){
    
}

@media only screen and (max-width: 1024px){
    
	br {
		display:none;
	}
}

@media only screen and (max-width: 768px){
    
}

@media only screen and (max-width: 480px){
    
}


/* # Font Sizing
   # Please insert all media queries below, avoid creating new breakpoints and inserting anywhere.
---------------------------------------------------------------------------------------------------- */
@media only screen and (min-width:1025px) and (max-width:1280px) {
	.container {
		max-width: 1170px;
	}
}

html { font-size: 62.5%; }
@media only screen and (max-width:1600px) { html { font-size: 56.3%; 	} }
@media only screen and (max-width:1440px) { html { font-size: 50%; 		} }
@media only screen and (max-width:1280px) { html { font-size: 48%; 		} }
@media only screen and (max-width:1023px) { html { font-size: 46%;	 	} }
@media only screen and (max-width:960px)  { html { font-size: 50%;      } }
@media only screen and (max-width:767px)  { html { font-size: 55.5555%; } }