@charset "utf-8";
/* CSS Document */

body {	
	background-color: #f1f1f1;
	color: #0a0b09;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	line-height: 1.45;
	
    /* Font Variant */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
	
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	
	margin:0 auto;
	max-width:1920px;
	width:100%;
}
body > div {
	font-size: 16px;
}
img, iframe {
	border: none;
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	margin-top: 0;
	font-weight: 700;
}
p {
     margin-bottom: 20px;
}
p:last-child {
     margin-bottom: 0;
}
a {
	transition: all 0.5s ease;
}
a:focus, 
input:focus, 
button:focus {
	outline: none;
}
ul, ol {
	padding: 0;
	margin: 0;
}
strong {
	font-weight:700;
}
.grey-font {
	color:#686868;
}
.spacer20 {
	clear:both;
	height: 20px;
}
.spacer30 {
	clear:both;
	height: 30px;
}
.spacer60 {
	clear:both;
	height: 60px;
}
.spacer100 {
	clear:both;
	height: 100px;
}
.container {
    max-width: 1170px;
}
.header-wrapper {
	background-color: #fff;
	padding: 15px 0;
}
.navbar {
	float: right;
	padding:0;
}
.main-navigation ul {
	list-style: none;
	margin:0;
	padding: 0;
}
.main-navigation ul li {
	float: left;
	list-style: none;
	margin:0;
	padding: 0;
}
.main-navigation ul li a {
	color:inherit;
	display:block;
	padding: 15px;
	text-transform: uppercase;
  	font-size: 14px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.64;
  	letter-spacing: normal;
}
.main-navigation ul li a i {
	font-size: 18px;
}
.hero-wrapper {
	background-color: #fffdf7;
	padding: 80px 0 0;
}
.hero-wrapper h2 {
	font-size: 50px;
	margin-bottom: 20px;
}
.hero-wrapper p {
  	font-size: 16px;
  	font-weight: 300;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.5;
}
.create-btn {
	background: rgb(174,36,121);
	background: -moz-linear-gradient(90deg, rgba(174,36,121,1) 0%, rgba(204,52,66,1) 70%);
	background: -webkit-linear-gradient(90deg, rgba(174,36,121,1) 0%, rgba(204,52,66,1) 70%);
	background: linear-gradient(90deg, rgba(174,36,121,1) 0%, rgba(204,52,66,1) 70%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ae2479",endColorstr="#cc3442",GradientType=1);
	border-radius: 5px;
	font-size: 15px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 2.13;
  	letter-spacing: 2px;
  	text-align: center;
  	color: #ffffff;
	text-transform: uppercase;
	padding: 18px 50px;
	display: inline-block;
	transition: all ease 0.5s;
}
.create-btn:hover {
	background: rgb(204,52,66);
	background: -moz-linear-gradient(90deg, rgba(204,52,66,1) 0%, rgba(174,36,121,1) 70%);
	background: -webkit-linear-gradient(90deg, rgba(204,52,66,1) 0%, rgba(174,36,121,1) 70%);
	background: linear-gradient(90deg, rgba(204,52,66,1) 0%, rgba(174,36,121,1) 70%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cc3442",endColorstr="#ae2479",GradientType=1);
  	color: #ffffff !important;
	text-decoration: none;
	transition: all ease 0.5s;
}
.hp-section-01-wrapper {
	background-color: #fffdf7;
}
.hp-section-01-wrapper{
	padding: 100px 0 60px;
}

/* # Boxes
---------------------------------------------------------------------------------------------------- */

.boxes {
	border-bottom: 2px solid #e5e5e5;
	padding: 60px 0;
}
.boxes h2 {
	color: #686868;
	font-size:14px;
	margin-bottom: 0;
}
.boxes img  {
    width: 36px;
    margin-right: 20px;
}


/* # CTA
---------------------------------------------------------------------------------------------------- */
.cta-section-wrapper {
	background-color: #fffdf7;
	padding: 40px 0;
}
.cta-section-wrapper h2 {
	font-size: 30px;
	margin-bottom: 20px;
}
.cta-section-wrapper p {
	font-size:16px;
}

/* # Footer
---------------------------------------------------------------------------------------------------- */
.footer-wrapper {
	background-color: #0a0b09;
	border-bottom: 7px solid #b2266c;
	color:#fff;
	font-size: 13px;
	padding: 60px 0;
}
.footer-wrapper h2 {
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.footer-links ul {
	margin:0;
	padding: 0;
	list-style: none;
}
.footer-links ul li {
	margin:0;
	padding: 0;
	list-style: none;
}
.footer-links ul li a {
	display: block;
	color:#fff;
	padding: 5px 0;
}
.admin-link a {
	color:#fff;
}
.footer-social-icons ul {
	list-style:none;
	margin:0;
	padding: 0;
}
.footer-social-icons ul li {
	list-style:none;
	margin:0;
	padding: 0;
	float: left;
}
.footer-social-icons ul li a {
	font-size:14px;
	color:#fff;
	display: block;
	margin-right: 15px;
}

