@charset "utf-8";
/* CSS Document */

.hero-img-1 {
	border-radius: 3px;
  	box-shadow: 0 0 105px 0 rgba(0, 0, 0, 0.12);
}
.hero-img-2 {
    border-radius: 3px;
    box-shadow: 0 0 105px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 30px;
    width: 385px;
    max-width: none;
}
.hero-img-3 {
	border-radius: 3px;
  	box-shadow: 0 0 105px 0 rgba(0, 0, 0, 0.12);
}


/* # HP Section 1
---------------------------------------------------------------------------------------------------- */
.hp-section-01-wrapper {
	background-color: #fff;
}
.hp-section-01-wrapper .section-01-tagline {
	padding: 100px 0 60px;
}
.hp-section-01-wrapper .section-01-tagline h2 {
	font-size: 39px;
	line-height: 1.31;
	margin-bottom: 20px;
}
.hp-section-01-wrapper .card-body {
	text-align:center;
	padding: 40px;
}
.hp-section-01-wrapper .card-body h2 {
	font-size:30px;
	margin-bottom: 20px;
}
.hp-section-01-wrapper .card-body p {
	font-size: 14px;
	margin-bottom: 30px;
}

/* # HP Section 2
---------------------------------------------------------------------------------------------------- */
.hp-section-02-wrapper .carousel-indicators {
    right: 0;
    top: 25px;
    margin-right: 2%;
    margin-left: 0;
	left: unset;
}


/* # HP Section 3
---------------------------------------------------------------------------------------------------- */
.hp-section-03-wrapper {
	background-color: #fff;
    padding: 100px 0;
}
.hp-section-03-wrapper h2 {
	font-size:39px;
	margin-bottom: 40px;
}
.hp-section-03-wrapper p {
	font-size:16px;
	line-height: 1.57;
	margin-bottom: 60px;
}
.hp-section-03-wrapper .col-lg-4 img {
	margin-bottom: 30px;
}
.hp-section-03-wrapper .col-lg-4 h3 {
	font-size:19px;
	margin-bottom: 20px;
}
.hp-section-03-wrapper .col-lg-4 p {
	font-size:14px;
	margin-bottom: 0;
}

/* # HP Section 4
---------------------------------------------------------------------------------------------------- */
.hp-section-04-wrapper {
	background-color: #fffdf7;
}
.hp-section-04-wrapper h2 {
	font-size: 39px;
	margin-bottom: 40px;
}
.hp-section-04-wrapper h3 {
	font-size: 30px;
	color: #b5276c;
	margin-bottom: 20px;
}
.hp-section-04-wrapper p {
	font-size: 14px;
	margin-bottom: 40px;
}


/* # HP Section 5
---------------------------------------------------------------------------------------------------- */
.hp-section-05-wrapper {
	background-color: #fff;
	padding: 100px 0;
}
.hp-section-05-left img {
	box-shadow: 0 0 105px 0 rgba(0, 0, 0, 0.12);
}
.hp-section-05-right {
	border: solid 1px #b6286a;
	padding: 10.5%;
}
.hp-section-05-right h2 {
	font-size: 39px;
	margin-bottom: 30px;
}
.hp-section-05-right p {
	font-size: 16px;
	margin-bottom: 30px;	
}

/* # HP Section 6
---------------------------------------------------------------------------------------------------- */
.hp-section-06-wrapper {
	background-color: #fff;
	padding: 100px 0;
}
.hp-section-06-wrapper p {
	font-size: 27px;
}
.hp-section-06-left .testi-copy {
	font-size: 27px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.59;
	padding: 0 65px;
	position: relative;
	margin-bottom: 40px;
}
.hp-section-06-left .testi-copy::before {
    content: "“";
    font-size: 77px;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: -22px;
}
.hp-section-06-left .testi-author {
	padding-left:65px;
}

/* # will apply this css starting 1600px and below
   # Please insert all media queries below, avoid creating new breakpoints and inserting anywhere.
---------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1440px){
    
}

@media only screen and (max-width: 1024px){
    
	br {
		display:none;
	}
}

@media only screen and (max-width: 768px){
    
}

@media only screen and (max-width: 480px){
    
}


/* # Font Sizing
   # Please insert all media queries below, avoid creating new breakpoints and inserting anywhere.
---------------------------------------------------------------------------------------------------- */
@media only screen and (min-width:1025px) and (max-width:1280px) {
	.container {
		max-width: 1170px;
	}
}

html { font-size: 62.5%; }
@media only screen and (max-width:1600px) { html { font-size: 56.3%; 	} }
@media only screen and (max-width:1440px) { html { font-size: 50%; 		} }
@media only screen and (max-width:1280px) { html { font-size: 48%; 		} }
@media only screen and (max-width:1023px) { html { font-size: 46%;	 	} }
@media only screen and (max-width:960px)  { html { font-size: 50%;      } }
@media only screen and (max-width:767px)  { html { font-size: 55.5555%; } }