.header-wrapper {
    background-color: #ffffff;
}
.hp-section-01-wrapper{
  	background-color: #FFFDF7;
  	padding-top: 90px;
}
.imgcontainer-logo {
  	text-align: center;
  	margin: 24px 0 100px 0;
}
.login-form{
	border-radius: 8px;
    box-shadow: 0 0 74px 0 rgba(0, 0, 0, 0.04);
    margin-bottom: 100px;
    background-color: #ffffff;
    padding: 50px;
}
input[type=text], input[type=password] {
  	width: 100%;
  	padding: 15px 20px;
  	margin: 15px 0;
  	display: inline-block;
  	border: 1px solid #ccc;
}
.login-btn {
	background: rgb(174,36,121);
	background: -moz-linear-gradient(90deg, rgba(174,36,121,1) 0%, rgba(204,52,66,1) 70%);
	background: -webkit-linear-gradient(90deg, rgba(174,36,121,1) 0%, rgba(204,52,66,1) 70%);
	background: linear-gradient(90deg, rgba(174,36,121,1) 0%, rgba(204,52,66,1) 70%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ae2479",endColorstr="#cc3442",GradientType=1);
	border-radius: 5px;
	font-size: 15px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 2.13;
  	letter-spacing: 2px;
  	text-align: center;
  	color: #ffffff;
	text-transform: uppercase;
	padding: 18px 50px;
	display: inline-block;
	transition: all ease 0.5s;
	border: none;
	width: 216px;
	margin-top: 30px;
}
.login-btn:hover {
	background: rgb(204,52,66);
	background: -moz-linear-gradient(90deg, rgba(204,52,66,1) 0%, rgba(174,36,121,1) 70%);
	background: -webkit-linear-gradient(90deg, rgba(204,52,66,1) 0%, rgba(174,36,121,1) 70%);
	background: linear-gradient(90deg, rgba(204,52,66,1) 0%, rgba(174,36,121,1) 70%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cc3442",endColorstr="#ae2479",GradientType=1);
  	color: #ffffff !important;
	text-decoration: none;
	transition: all ease 0.5s;
}
