@charset "utf-8";
/* CSS Document */

.prf-section-01-wrapper {
	background-image: url(../img/product-page-banner-bg.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size:cover;
	background-color:#000;
	padding:120px 0;
}
.prf-section-01-wrapper h2 {
	color: #fff;
	font-size: 39px;
	margin-bottom: 30px;
}
.prf-section-01-wrapper p {
	color: #fff;
	font-size: 16px;
	margin-bottom: 30px;
}

.prc-section-01-wrapper {
	background-image: url(../img/prod-canvas-banner.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size:cover;
	background-color:#000;
	padding:120px 0;
}
.prc-section-01-wrapper h2 {
	color: #fff;
	font-size: 39px;
	margin-bottom: 30px;
}
.prc-section-01-wrapper p {
	color: #fff;
	font-size: 16px;
	margin-bottom: 30px;
}

.prf-section-02-wrapper {
	background-color:#fff;
	padding:80px 0;
}
.prf-section-02-wrapper h2 {
	font-size: 39px;
	margin-bottom: 40px;
}
.prf-section-02-wrapper p {
	margin-bottom: 40px;
}
.prf-section-02-wrapper img {
	border-radius: 3px;
  	box-shadow: 0 0 105px 0 rgba(0, 0, 0, 0.2);
}


.prf-section-03-wrapper {
	background-color: #fffdf7;
	padding:80px 100px;
}
.prf-section-03-wrapper h2 {
	font-size: 39px;
	margin-bottom: 60px;
}
.prf-section-03-wrapper h3 {	
	font-size: 19px;
	margin-bottom: 20px;
	text-align: center;
}
.prf-section-03-wrapper p {
	font-size: 14px;
	text-align: center;
}
.product-samples {
    border: solid 2px #e5e5e5;
    background-color: #ffffff;
    max-width: 370px;
    max-height: 316px;
    height: 100%;
    width: 100%;
    margin: 0 auto 20px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-samples img {
	box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
	border: solid 3px #4e4e4e;
}


.prf-section-04-wrapper {
	background-color:#fff;
	padding:80px 0 40px;
}
.prf-section-04-wrapper h2 {
	font-size: 39px;
	margin-bottom: 60px;
}
.prf-section-04-wrapper h3 {
	font-size: 19px;
	margin-bottom: 20px;
}
.prf-section-04-wrapper p {
	font-size: 14px;
}
.our-promise {
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
    padding: 40px;
    margin-bottom: 40px;
	display: flex;
    align-items: center;
    justify-content: center;
	min-height: 250px;
}

.prf-section-05-wrapper {
	background-color: #b5276c;
	color:#fff;
	padding:80px 0;
}
.prf-section-05-wrapper h2 {
	color:#fff;
	font-size: 39px;
	margin-bottom: 20px;
}
.headline-prf-section-05 p {
	margin-bottom: 60px;
}
.testi-copy {
	font-size:14px;
	font-weight: 700;
}
.testi-copy::before {
    content: "“";
    font-size: 77px;
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: -22px;
}
.testi-copy, 
.testi-rating, 
.testi-img {
    padding-left: 60px;
}
.testi-img {
	font-size: 14px;
  	font-weight: bold;
}
.testi-img img {
	margin-right: 20px;
}
