@charset "utf-8";
/* CSS Document */


/* # HP Section 1
---------------------------------------------------------------------------------------------------- */
.order-navigation{
	border-radius: 2px;
	box-shadow: 0 0 54px 0 rgba(0, 0, 0, 0.03);
	border: solid 1px #f2f2f2;
	background-color: #ffffff;
	padding: 40px;
}
.order-navigation .active{
	color: #b5276c;
	font-weight: bold;
}
.order-navigation a{
	color: #0a0b09;
	line-height: 2;
}
.order-navigation a:hover{
	text-decoration: none;
}
.hp-section-01-wrapper .orders-body {
	border-radius: 2px;
	box-shadow: 0 0 54px 0 rgba(0, 0, 0, 0.03);
	border: solid 1px #f2f2f2;
	background-color: #ffffff;
	padding: 40px 40px 60px;
}
.hp-section-01-wrapper input{
	width: 100%;
	border-radius: 2px;
  	border: solid 1px #e5e5e5;
  	background-color: #ffffff;
  	padding: 10px 15px;
  	margin: 0px 0 15px;
}
.hp-section-01-wrapper .account-details{
	padding-top: 60px;
}
.account-details a{
	color: #0860d8;
}
.hp-section-01-wrapper .shipping-address-details{
	padding-top: 20px;
}
.hp-section-01-wrapper .shipping-address-details p{
	font-size: 14px;
}
.orders-details tr{
	border-bottom: solid 1px #f2f2f2;
}
.upload-remove-photo a:hover{
	text-decoration: none;
}
.upload-remove-photo .upload-btn{
	border: 2px solid #0860d8;
	border-radius: 5px;
	padding: 10px;
	color: #0860d8;
}
.upload-remove-photo .remove-btn{
	color: #da2222;
	padding: 10px 20px;
}
.upload-remove-photo p{
	font-size: 10px;
	color: #7e7e7e;
	padding-top: 20px;
}
.save-btn {
	background: rgb(174,36,121);
	background: -moz-linear-gradient(90deg, rgba(174,36,121,1) 0%, rgba(204,52,66,1) 70%);
	background: -webkit-linear-gradient(90deg, rgba(174,36,121,1) 0%, rgba(204,52,66,1) 70%);
	background: linear-gradient(90deg, rgba(174,36,121,1) 0%, rgba(204,52,66,1) 70%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ae2479",endColorstr="#cc3442",GradientType=1);
	border-radius: 5px;
	font-size: 15px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 2.13;
  	letter-spacing: 2px;
  	text-align: center;
  	color: #ffffff;
	text-transform: uppercase;
	padding: 15px 80px;
	display: inline-block;
	transition: all ease 0.5s;
	margin-top: 40px;
}
.save-btn:hover {
	background: rgb(204,52,66);
	background: -moz-linear-gradient(90deg, rgba(204,52,66,1) 0%, rgba(174,36,121,1) 70%);
	background: -webkit-linear-gradient(90deg, rgba(204,52,66,1) 0%, rgba(174,36,121,1) 70%);
	background: linear-gradient(90deg, rgba(204,52,66,1) 0%, rgba(174,36,121,1) 70%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cc3442",endColorstr="#ae2479",GradientType=1);
  	color: #ffffff !important;
	text-decoration: none;
	transition: all ease 0.5s;
}

/* # will apply this css starting 1600px and below
   # Please insert all media queries below, avoid creating new breakpoints and inserting anywhere.
---------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1440px){
    
}

@media only screen and (max-width: 1024px){

}

@media only screen and (max-width: 768px){

	.upload-remove-photo .remove-btn{
		padding: 10px 10px;
	}
	.image-holder{
		margin-bottom: 20px;
	}

}

@media only screen and (max-width: 480px){

    
}

@media only screen and (max-width: 320px){

    .upload-remove-photo .remove-btn{
		display: block;
		margin-top: 20px;
	}
}


/* # Font Sizing
   # Please insert all media queries below, avoid creating new breakpoints and inserting anywhere.
---------------------------------------------------------------------------------------------------- */
@media only screen and (min-width:1025px) and (max-width:1280px) {
	.container {
		max-width: 1170px;
	}
}

html { font-size: 62.5%; }
@media only screen and (max-width:1600px) { html { font-size: 56.3%; 	} }
@media only screen and (max-width:1440px) { html { font-size: 50%; 		} }
@media only screen and (max-width:1280px) { html { font-size: 48%; 		} }
@media only screen and (max-width:1023px) { html { font-size: 46%;	 	} }
@media only screen and (max-width:960px)  { html { font-size: 50%;      } }
@media only screen and (max-width:767px)  { html { font-size: 55.5555%; } }