@charset "utf-8";
/* CSS Document */


/* # HP Section 1
---------------------------------------------------------------------------------------------------- */
.hp-section-01-wrapper .select-image {
	border-radius: 2px;
	box-shadow: 0 0 54px 0 rgba(0, 0, 0, 0.03);
	border: solid 1px #f2f2f2;
	background-color: #ffffff;
	padding: 40px 40px 60px;
}
.hp-section-01-wrapper .cart {
	border-radius: 2px;
	box-shadow: 0 0 54px 0 rgba(0, 0, 0, 0.03);
	border: solid 1px #f2f2f2;
	background-color: #ffffff;
	padding: 40px 40px 60px;
}
.hp-section-01-wrapper p{
	font-size: 14px;
}
.hp-section-01-wrapper h4{
	font-size: 14px;
}
.btn-instagram {
	background: rgb(174,36,121);
	background: -moz-linear-gradient(90deg, rgba(174,36,121,1) 0%, rgba(204,52,66,1) 70%);
	background: -webkit-linear-gradient(90deg, rgba(174,36,121,1) 0%, rgba(204,52,66,1) 70%);
	background: linear-gradient(90deg, rgba(174,36,121,1) 0%, rgba(204,52,66,1) 70%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ae2479",endColorstr="#cc3442",GradientType=1);
	border-radius: 5px;
	font-size: 15px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 2.13;
  	letter-spacing: 2px;
  	text-align: center;
  	color: #ffffff;
	text-transform: uppercase;
	padding: 15px 40px;
	display: inline-block;
	transition: all ease 0.5s;

}
.btn-instagram:hover {
	background: rgb(204,52,66);
	background: -moz-linear-gradient(90deg, rgba(204,52,66,1) 0%, rgba(174,36,121,1) 70%);
	background: -webkit-linear-gradient(90deg, rgba(204,52,66,1) 0%, rgba(174,36,121,1) 70%);
	background: linear-gradient(90deg, rgba(204,52,66,1) 0%, rgba(174,36,121,1) 70%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cc3442",endColorstr="#ae2479",GradientType=1);
  	color: #ffffff !important;
	text-decoration: none;
	transition: all ease 0.5s;
}
.btn-facebook {
	background: #5374b8;
	border-radius: 5px;
	font-size: 15px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 2.13;
  	letter-spacing: 2px;
  	text-align: center;
  	color: #ffffff;
	text-transform: uppercase;
	padding: 15px 40px;
	display: inline-block;
	transition: all ease 0.5s;
	margin-bottom: 10px;
}
.btn-computer {
	background: #b5276c;
	border-radius: 5px;
	font-size: 15px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 2.13;
  	letter-spacing: 2px;
  	text-align: center;
  	color: #ffffff;
	text-transform: uppercase;
	padding: 15px 40px;
	display: inline-block;
	transition: all ease 0.5s;
	margin-bottom: 10px;
}
.select-image-title{
	padding-bottom: 10px;
}
.select-btn{
	text-align: center;
}
.select-btn a:hover{
	text-decoration: none;
	color: #fff;
}
.hp-section-01-wrapper .upload{
 	text-align: center;
 	padding-top: 20px;
}
.hp-section-01-wrapper .upload a{
	color: #b5276c;
}
.hp-section-01-wrapper .upload a:hover{
	text-decoration: none;
}
.product-card h4{
	color: #000;
}
.product-card i.fa.fa-caret-down {
    position: absolute;
    right: 0;
    top: 25%;
}
.product-card h2.mb-0 {
    position: relative;
}
.product-card .btn-link{
	text-decoration: none;
}
.product-card .btn-link:hover{
	text-decoration: none;
}
.select-product .product-card-body label{
	text-align: center;
	margin-right: 40px;
}
.product-card-body{
    padding: 20px 30px 20px;
}
.product-card-body p{
	color: #9f9f9f;
	font-size: 12px;
}
.product-card-body [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
/* IMAGE STYLES */
.select-product .product-card-body [type=radio] + img {
  cursor: pointer;
  border: solid 1px #e5e5e5;
  padding: 20px;
  margin-bottom: 20px;
}

/* CHECKED STYLES */
.select-product .product-card-body [type=radio]:checked + img {
  outline: 2px solid #b5276c;
}
.select-product .product-card-body [type=radio]:checked ~ h4 {
  color: #b5276c ;
}
/* IMAGE STYLES */
.select-size .product-card-body [type=radio] + img {
  cursor: pointer;
  border: solid 1px #e5e5e5;
  padding: 20px;
  margin-bottom: 20px;
}

/* CHECKED STYLES */
.select-size .product-card-body [type=radio]:checked + img {
  outline: 2px solid #b5276c;
}
.select-size .product-card-body [type=radio]:checked ~ h4 {
  color: #b5276c ;
}
.select-product{
	background: #fff;
	margin-top: 20px;
	padding: 20px 40px;
}
.select-size .product-card-body label{
	text-align: center;
	margin-right: 20px;
}
.select-size{
	background: #fff;
	margin-top: 20px;
	padding: 20px 40px;
}
.product-card-body [type=radio] + .holder1 {
  cursor: pointer;
  border: solid 1px #e5e5e5;
  padding: 55px 50px;
  margin-bottom: 20px;
}
.product-card-body [type=radio] + .holder2 {
  cursor: pointer;
  border: solid 1px #e5e5e5;
  padding: 47px 40px;
  margin-bottom: 20px;
}
.product-card-body [type=radio] + .holder3 {
  cursor: pointer;
  border: solid 1px #e5e5e5;
  padding: 35px 30px;
  margin-bottom: 20px;
}
.product-card-body [type=radio] + .holder4 {
  cursor: pointer;
  border: solid 1px #e5e5e5;
  padding: 11px 20px;
  margin-bottom: 20px;
}

/* CHECKED STYLES */
.product-card-body [type=radio]:checked + .size-img-holder {
  outline: 2px solid #b5276c;
}
.size-img{
	width: 24px;
  	height: 30px;
  	background-color: #e5e5e5;
}
.size-img2{
	width: 36px;
  	height: 48px;
  	background-color: #e5e5e5;
}
.size-img3{
	width: 54px;
  	height: 72px;
  	background-color: #e5e5e5;
}
.size-img4{
	width: 90px;
  	height: 120px;
  	background-color: #e5e5e5;
}
.sub-header{
	font-size: 12px !important;
	padding-left: 10px;
}
.custom-size{
	color: #b5276c;
	font-size: 14px;
}
.select-frame{
	background: #fff;
	margin-top: 20px;
	padding: 20px 40px 20px 20px;
}
.frame-img{
	border: solid 1px #e5e5e5;
	background-color: #fefcf6;
	padding: 10px 20px;
}
.frame-details{
	border: solid 1px #e5e5e5;
	background-color: #fff;
	padding: 10px 20px;
}
.select-frame .product-card-body [type=radio]:checked + .row-frame{
  	outline: 2px solid #b5276c;
}
.select-frame .product-card-body [type=radio]:checked + .row-frame h4 {
  color: #b5276c !important;
}
.frame-description{
	color: #0a0b09 !important;
}

.select-upgrade{
	background: #fff;
	margin-top: 20px;
	padding: 20px 40px 20px 20px;
}
.upgrade-img{
	border: solid 1px #e5e5e5;
	background-color: #fefcf6;
	padding: 10px 20px;
}
.upgrade-details{
	border: solid 1px #e5e5e5;
	background-color: #fff;
	padding: 10px 20px;
}
.select-upgrade .product-card-body [type=radio]:checked + .row-upgrade{
  	outline: 2px solid #b5276c;
}
.select-upgrade .product-card-body [type=radio]:checked + .row-upgrade h4 {
  color: #b5276c !important;
}
.upgrade-description{
	color: #0a0b09 !important;
}

.special-instructions{
	background: #fff;
	margin-top: 20px;
	padding: 20px 40px 20px 20px;
}
.special-instructions textarea{
	width: 100%;
	padding: 20px;
	font-size: 12px;
	border-radius: 2px;
  	border: solid 1px #f0f0f0;
}
.cart-details table{
	margin-bottom: 20px;
}
.cart-details td{
	height: 40px;
}
.cart-details .total{
	border-top: solid 1px #f2f2f2;
}
.add-to-cart {
	background: rgb(174,36,121);
	background: -moz-linear-gradient(90deg, rgba(174,36,121,1) 0%, rgba(204,52,66,1) 70%);
	background: -webkit-linear-gradient(90deg, rgba(174,36,121,1) 0%, rgba(204,52,66,1) 70%);
	background: linear-gradient(90deg, rgba(174,36,121,1) 0%, rgba(204,52,66,1) 70%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ae2479",endColorstr="#cc3442",GradientType=1);
	border-radius: 5px;
	font-size: 15px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 2.13;
  	letter-spacing: 2px;
  	text-align: center;
  	color: #ffffff;
	text-transform: uppercase;
	padding: 15px 50px 15px 20px;
	display: inline-block;
	transition: all ease 0.5s;
	width: 100%;
}
.add-to-cart:hover {
	background: rgb(204,52,66);
	background: -moz-linear-gradient(90deg, rgba(204,52,66,1) 0%, rgba(174,36,121,1) 70%);
	background: -webkit-linear-gradient(90deg, rgba(204,52,66,1) 0%, rgba(174,36,121,1) 70%);
	background: linear-gradient(90deg, rgba(204,52,66,1) 0%, rgba(174,36,121,1) 70%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cc3442",endColorstr="#ae2479",GradientType=1);
  	color: #ffffff !important;
	text-decoration: none;
	transition: all ease 0.5s;
}
.cart-details i.fa.fa-shopping-cart {
    margin-right: 30px;
    font-size: 19px;
}
.title-selected{
	width: 80%;
}
.price-selected{
	width: 20%;
}
/* # will apply this css starting 1600px and below
   # Please insert all media queries below, avoid creating new breakpoints and inserting anywhere.
---------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1440px){
    
}

@media only screen and (max-width: 1024px){

}

@media only screen and (max-width: 768px){

	.title-selected{
		width: 100%;
	}
	.price-selected{
		width: 100%;
	}
}

@media only screen and (max-width: 480px){

	.form{
		padding: 40px 40px 40px 40px;
	}
	.login-btn {
		padding: 15px 60px;
	}
    
}


/* # Font Sizing
   # Please insert all media queries below, avoid creating new breakpoints and inserting anywhere.
---------------------------------------------------------------------------------------------------- */
@media only screen and (min-width:1025px) and (max-width:1280px) {
	.container {
		max-width: 1170px;
	}
}

html { font-size: 62.5%; }
@media only screen and (max-width:1600px) { html { font-size: 56.3%; 	} }
@media only screen and (max-width:1440px) { html { font-size: 50%; 		} }
@media only screen and (max-width:1280px) { html { font-size: 48%; 		} }
@media only screen and (max-width:1023px) { html { font-size: 46%;	 	} }
@media only screen and (max-width:960px)  { html { font-size: 50%;      } }
@media only screen and (max-width:767px)  { html { font-size: 55.5555%; } }