@charset "utf-8";
/* CSS Document */


/* # HP Section 1
---------------------------------------------------------------------------------------------------- */

.hp-section-01-wrapper input{
	width: 100%;
	border-radius: 2px;
  	border: solid 1px #e5e5e5;
  	background-color: #ffffff;
  	padding: 10px 15px;
  	margin: 0px 0 15px;
}
.customer-information-navigation{
	padding: 20px 40px 20px;
}
.customer-details, .shipping-address-details{
	padding: 0px 40px;
}
.customer-details a{
	color: #0a0b09;
	font-size: 12px;
}
.customer-details i.fa.fa-angle-left{
	margin-right: 20px;
	font-size: 16px !important;
}
.customer-information-navigation .active{
	color: #b5276c;
	font-weight: bold;
	font-size: 14px;
}
.customer-information-navigation a{
	color: #0a0b09;
	font-size: 12px;
}
.customer-information-navigation a:hover{
	text-decoration: none;
}
.customer-information-navigation i.fa.fa-angle-right {
    margin: 0 20px;
}
.hp-section-01-wrapper .customer-info-holder {
	border-radius: 2px;
	box-shadow: 0 0 54px 0 rgba(0, 0, 0, 0.03);
	border: solid 1px #f2f2f2;
	background-color: #ffffff;
	padding-bottom: 60px;
}
.hp-section-01-wrapper .orders-body {
	border-radius: 2px;
	box-shadow: 0 0 54px 0 rgba(0, 0, 0, 0.03);
	border: solid 1px #f2f2f2;
	background-color: #ffffff;
}
.hp-section-01-wrapper .orders-title{
	padding: 20px 40px 27px;
}
.hp-section-01-wrapper ul {
	list-style-type: none;
	font-weight: normal;
	margin-left: 10px;
}
.hp-section-01-wrapper p{
	font-size: 14px;
}
.hp-section-01-wrapper h4{
	font-size: 14px;
}
.continue-btn {
	background-color: #1ebc43;
	border-radius: 3px;
	font-size: 15px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 2.13;
  	letter-spacing: 2px;
  	text-align: center;
  	color: #ffffff;
	text-transform: uppercase;
	padding: 10px 60px;
	display: inline-block;
	transition: all ease 0.5s;
	margin-left: 10px;
}
.continue-btn:hover{
	text-decoration: none;
	color: #fff;
}
.continue-btn-holder{
	text-align: right;
	padding-right: 40px;
	padding-top: 20px;
}
.hp-section-01-wrapper h4.order-status{
	border-radius: 20.5px;
  	background-color: #53cb10;
  	text-transform: uppercase;
  	color: #fff;
  	padding: 10px;
  	text-align: center;
  	width: 40%;
}
.orders-body .table-container{
	padding: 0px 40px 40px;
}
.orders-body h4{
	font-weight: normal;
	font-size: 16px;
}
.orders-details td{
	padding: 10px 0;
}
.total{
	border-top: solid 1px #f2f2f2;
	padding-top: 10px;
}
.shipping-oval{
	width: 20px;
	height: 20px;
	border: solid 1px #d3d3d3;
	border-radius: 25px;
}
.shipping-method{
	padding: 20px 40px;
}
.shipping-method [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
/* IMAGE STYLES */
.shipping-method [type=radio] + .shipping-row {
  cursor: pointer;
  border: solid 1px #e5e5e5;
  padding: 20px;
  margin-bottom: 20px;
}
.shipping-method [type=radio]:checked + .shipping-row {
  outline: 2px solid #b5276c;
}
.shipping-method [type=radio]:checked + .shipping-row h3.shipping-name {
  color: #b5276c !important;
}
.shipping-method [type=radio]:checked + .shipping-row .shipping-oval {
  border: solid 5px #b5276c;
}
.shipping-method label{
	display: block;
}
.shipping-info{
	padding: 20px 40px 20px 40px;
}
/* # will apply this css starting 1600px and below
   # Please insert all media queries below, avoid creating new breakpoints and inserting anywhere.
---------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1440px){
    
}

@media only screen and (max-width: 1024px){
    
	br {
		display:none;
	}
}

@media only screen and (max-width: 768px){

	
}

@media only screen and (max-width: 480px){

	.shipping-method .col-md-2, .shipping-method .col-md-8{
		margin-bottom: 10px;
	}
    
}


/* # Font Sizing
   # Please insert all media queries below, avoid creating new breakpoints and inserting anywhere.
---------------------------------------------------------------------------------------------------- */
@media only screen and (min-width:1025px) and (max-width:1280px) {
	.container {
		max-width: 1170px;
	}
}

html { font-size: 62.5%; }
@media only screen and (max-width:1600px) { html { font-size: 56.3%; 	} }
@media only screen and (max-width:1440px) { html { font-size: 50%; 		} }
@media only screen and (max-width:1280px) { html { font-size: 48%; 		} }
@media only screen and (max-width:1023px) { html { font-size: 46%;	 	} }
@media only screen and (max-width:960px)  { html { font-size: 50%;      } }
@media only screen and (max-width:767px)  { html { font-size: 55.5555%; } }