@charset "utf-8";
/* CSS Document */


/* # HP Section 1
---------------------------------------------------------------------------------------------------- */

.form{
	padding: 60px 120px 100px 120px;
	border-radius: 8px;
	box-shadow: 0 0 74px 0 rgba(0, 0, 0, 0.04);
	background-color: #ffffff;
}
.form-body input{
	width: 100%;
	border-radius: 2px;
  	border: solid 1px #e5e5e5;
  	background-color: #ffffff;
  	padding: 10px;
  	margin: 10px 0;
}
.form img{
	padding-bottom: 40px;
}
.forgot-password{
	margin-top: 20px;
}
.login-btn {
	background: rgb(174,36,121);
	background: -moz-linear-gradient(90deg, rgba(174,36,121,1) 0%, rgba(204,52,66,1) 70%);
	background: -webkit-linear-gradient(90deg, rgba(174,36,121,1) 0%, rgba(204,52,66,1) 70%);
	background: linear-gradient(90deg, rgba(174,36,121,1) 0%, rgba(204,52,66,1) 70%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ae2479",endColorstr="#cc3442",GradientType=1);
	border-radius: 5px;
	font-size: 15px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 2.13;
  	letter-spacing: 2px;
  	text-align: center;
  	color: #ffffff;
	text-transform: uppercase;
	padding: 15px 80px;
	display: inline-block;
	transition: all ease 0.5s;
	margin-top: 40px;
}
.login-btn:hover {
	background: rgb(204,52,66);
	background: -moz-linear-gradient(90deg, rgba(204,52,66,1) 0%, rgba(174,36,121,1) 70%);
	background: -webkit-linear-gradient(90deg, rgba(204,52,66,1) 0%, rgba(174,36,121,1) 70%);
	background: linear-gradient(90deg, rgba(204,52,66,1) 0%, rgba(174,36,121,1) 70%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cc3442",endColorstr="#ae2479",GradientType=1);
  	color: #ffffff !important;
	text-decoration: none;
	transition: all ease 0.5s;
}
/* # will apply this css starting 1600px and below
   # Please insert all media queries below, avoid creating new breakpoints and inserting anywhere.
---------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1440px){
    
}

@media only screen and (max-width: 1024px){
    
	br {
		display:none;
	}
}

@media only screen and (max-width: 768px){

	.form{
		padding: 40px 80px 40px 80px;
	}
}

@media only screen and (max-width: 480px){

	.form{
		padding: 40px 40px 40px 40px;
	}
	.login-btn {
		padding: 15px 60px;
	}
    
}


/* # Font Sizing
   # Please insert all media queries below, avoid creating new breakpoints and inserting anywhere.
---------------------------------------------------------------------------------------------------- */
@media only screen and (min-width:1025px) and (max-width:1280px) {
	.container {
		max-width: 1170px;
	}
}

html { font-size: 62.5%; }
@media only screen and (max-width:1600px) { html { font-size: 56.3%; 	} }
@media only screen and (max-width:1440px) { html { font-size: 50%; 		} }
@media only screen and (max-width:1280px) { html { font-size: 48%; 		} }
@media only screen and (max-width:1023px) { html { font-size: 46%;	 	} }
@media only screen and (max-width:960px)  { html { font-size: 50%;      } }
@media only screen and (max-width:767px)  { html { font-size: 55.5555%; } }